
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR+Guides&family=Varela+Round&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: antiquewhite;
}

nav{
    font-family:"Varela Round", serif; 
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 69px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:1.3rem ;
}