
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR+Guides&family=Varela+Round&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: antiquewhite;
}

nav{
    font-family:"Varela Round", serif; 
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 69px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:1.3rem ;
}

.container{
    background-color: #000;
    color: #fff;
    font-family:"Varela Round", serif; 
    display: flex;
    margin: 23px auto;
    width: 70%;
    min-height: 70vh;
    border-radius: 12px;
    padding: 34px;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.songItemContainer{
    margin-top: 54px;
}
.songItem{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    margin: 12px 0 ;
    border-radius: 35px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 50%;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}
/* This is bottom styling */

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition:opacity 1s ease-in;
}
#myProgressar{
    width: 80%;
    margin-bottom: 15px ;
}

.icons i{
    cursor: pointer;
}